<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Product List</h1>
      <uib-pagination total-items="totalItem" ng-model="currentPage" num-pages="4" items-per-page="itemsPerPage"></uib-pagination>
      
    </div>
    <div>
  
    </div>
    <!-- /.col-lg-12 -->
</div>
  <!-- /.row -->
  
<div class="row">
  <div class="col-lg-12">
     <div class="table-responsive"> 
     <table class="table table-bordered table-hover">
      <thead> 
        <tr> 
        <th># </th>
        <th>Title </th>
        <th>Image</th>
        <th>Author </th>
        <th>Category</th>
        <th>Price </th>
        <th>Status </th>
        <th>Created_at   </th>
        <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,val) in listbook | paginate: (currentPage -1)*itemsPerPage "  ng-if ="$index < itemsPerPage">
          <td>1 </td>
          <td> <a ui-sref="private.admin.product.show({ id: key })">{{ val['title'] }} </a></td>
          <td><img data-ng-src="data:image/png;base64,{{val['images']}}" class="small-product-image"></td>
          <td>{{ val['author'] }}  </td>
          <td>{{val['category'] | cateName}}</td>
          <td>{{ val['price'] }}   </td>
          <td>{{val['status']}}</td>
          <td>12:45 23/4 </td>
          <td><a href="" ui-sref="private.admin.product.edit({ id: key })">Edit</a> ,  <a href="" data-id="{{key}}"  ng-click="deletebook($event)"> Delete</a></td>
         <!--  <td ng-repeat="(k, v) in val"> {{v }} </td>
          <td><a href="">Edit</a> ,  <a href=""> Delete</a></td> -->
        </tr>
        
      </tbody>
    </table>
    
  </div> 
   <!-- /.table-responsive -->
  </div>
</div>
