<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Product Details</h1>
  </div>
    <!-- /.col-lg-12 -->
</div>
  <!-- /.row -->

<div class="row">
  <div class="col-lg-12">
     <div class="table-responsive"> 
     <table class="table table-striped table-bordered">
      
      <tbody>
        <tr>
          <th>Title </th>
          <td>{{ book_details['title'] }} </a></td>
        </tr>
        <tr>
          <th>Image</th>
          <td><img data-ng-src="data:image/png;base64,{{ book_details['images']}}" class="details-product-image"></td>
        </tr>
        <tr>
          <th>Author </th>
          <td>{{ book_details['author'] }}  </td>
        </tr>
        <tr>
          <th>Category</th>
          <td>{{ book_details['category'] | cateName }}</td>
        </tr>
        <tr>
          <th>Price </th>
          <td>{{ book_details['price'] }}  </td>
        </tr>
        <tr>
          <th>Status </th>
          <td>{{ book_details['status'] }} </td>
        </tr>
        <tr>
          <th>Description </th>
          <td>{{ book_details['description'] }} </td>
        </tr>
        <tr>
          <th>Created_at   </th>
          <td>12:45 23/4 </td>
        </tr>
        <tr>
          <th>Action</th>
          <td><a href="" ui-sref="private.admin.product.edit({id: bookid})">Edit</a></td>
        </tr>     
      </tbody>
    </table>
  </div> 
   <!-- /.table-responsive -->
  </div>
</div>