.products-right-grids-bottom-grid:nth-child(3n+1) {clear: left;}
#link-admin a{
  color: gray;
}
#link-admin a:hover{
  color: white;
}
.new-collections-grid {
    padding-bottom: 17px;
}
/*item homepage*/
/*a.item_add_12{
 padding: 0.5em 3em !important;
}*/
td.invert-image a img{
	width: 50%;
}
.invert-image{
	width: 300px;
}
.checkout-left-basket a{
	color: white;
}
.checkout-left-basket a:hover{
	color: gray;
}
.categories{
	margin-top: 22px;
}
.single-right{
	margin-top: 22px;
}