<!-- //animation-effect -->
<!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
  <!-- // breadcrums -->
  <!-- checkout -->
  <div class="checkout">
    <div class="container">
      <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>3 Products</span></h3>
      <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
        <table class="timetable_sub">
          <thead>
            <tr>
              <th>Book</th>
              <th>Quality</th>
              <th>Title</th>
              <th>Ship fee</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>

          <tr class="rem1" ng-repeat='item in arrayCart'>
            <td class="invert-image"><a href="single.html"><img data-ng-src="data:image/png;base64,{{ item.images}}" alt=" " class="img-responsive" /></a></td>
            <td class="invert">
               <div class="quantity"> 
                <div class="quantity-select">                           
                  <div class="entry value-minus">&nbsp;</div>
                  <div class="entry value"><span>1</span></div>
                  <div class="entry value-plus active">&nbsp;</div>
                </div>
              </div>
            </td>
            <td class="invert">{{item.title}}</td>
            <td class="invert">$5.00</td>
            <td class="invert">{{item.price}}</td>
            <td class="invert">
              <div class="rem">
               <div data-id="{{item.bookid}}" ng-click='service.removeCartItem($event)' class="close1"> </div>
                
              </div>
             <!--  <script>$(document).ready(function(c) {
                $('.close1').on('click', function(c){
                  $('.rem1').fadeOut('slow', function(c){
                    $('.rem1').remove();
                  });
                  });   
                });
               </script> -->
            </td>
          </tr>

                <!--quantity-->
                  <script>
                  $('.value-plus').on('click', function(){
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                    divUpd.text(newVal);
                  });

                  $('.value-minus').on('click', function(){
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                    if(newVal>=1) divUpd.text(newVal);
                  });
                  </script>
                <!--quantity-->
        </table>
      </div>
      <div class="checkout-left"> 
        <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
          <h4><a href="" ui-sref="public.site.order">Continue to checkout</a> </h4>
          <ul>
             <li ng-repeat='item in arrayCart'>{{item.title}} <i>-</i> <span>{{item.price}}</span></li>
            <li>Total Service Charges <i></i> <span>$15.00</span></li>
            <li>Total <i>-</i> <span>$854.00</span></li>
          </ul>
        </div>
        <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
          <a href="" ui-sref='public.site.product.list'> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //checkout -->