
<script>
 new WOW().init();
</script>
<!-- banner -->
  <div class="banner">
    <div class="container">
      <div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
        <h3>Free Online Shopping</h3>
        <h4>Up to <span>50% <i>Off/-</i></span></h4>
        <div class="wmuSlider example1">
          <div class="wmuSliderWrapper">
            <article style="position: absolute; width: 100%; opacity: 0;"> 
              <div class="banner-wrap">
                <div class="banner-info1">
                  <p>Commic + Reference  + Novel </p>
                </div>
              </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;"> 
              <div class="banner-wrap">
                <div class="banner-info1">
                  <p>Get book collection of famous author </p>
                </div>
              </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;"> 
              <div class="banner-wrap">
                <div class="banner-info1">
                  <p>Tops + New Books & Special version book</p>
                </div>
              </div>
            </article>
          </div>
        </div>
          <script src="assets/js/jquery.wmuSlider.js"></script> 
          <script>
            $('.example1').wmuSlider();         
          </script> 
      </div>
    </div>
  </div>
<!-- //banner -->
<!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container"> 
      <div class="banner-bottom-grids">
        <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <div class="grid">
            <figure class="effect-julia">
              <img src="assets/images/4.jpg" alt=" " class="img-responsive" />
              <figcaption>
                <h3>Book <span>Store</span><i> in online shopping</i></h3>
                <div>
                  <p>Update new books</p>
                  <p>Some special version of book</p>
                  <p>Big Discount in this Summer</p>
                </div>
              </figcaption>     
            </figure>
          </div>
        </div>
        <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
          <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
            <div class="banner-bottom-grid-left-grid1">
              <img src="assets/images/1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="banner-bottom-grid-left1-pos">
              <p>Discount 45%</p>
            </div>
          </div>
          <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
            <div class="banner-bottom-grid-left-grid1">
              <img src="assets/images/2.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="banner-bottom-grid-left1-position">
              <div class="banner-bottom-grid-left1-pos1">
                <p>Latest New Collections</p>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <div class="banner-bottom-grid-left-grid grid-left-grid1">
            <div class="banner-bottom-grid-left-grid1">
              <img src="assets/images/3.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="grid-left-grid1-pos">
              <p>top new  <span>2016 Collection</span></p>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //banner-bottom -->
<!-- collections -->
  <div class="new-collections">
    <div class="container">
      <h3 class="animated wow zoomIn" data-wow-delay=".5s">Popular Books</h3>
      <p class="est animated wow zoomIn" data-wow-delay=".5s">This is collection of popular books viewed and voted by almost visitor</p>
      <div class="new-collections-grids animated wow slideInUp" >
        <div class="col-md-3 new-collections-grid"  ng-repeat="(key,val) in listbook">
          <div class="new-collections-grid1 " data-wow-delay=".5s" >
            <div class="new-collections-grid1-image">
              <a href="" ui-sref="public.site.product.show({id: key})" class="product-image"><img data-ng-src="data:image/png;base64,{{ val['images']}}" alt=" " class="img-responsive" /></a>
              <div class="new-collections-grid1-image-pos">
                <a href="" ui-sref="public.site.product.show({id: key})">Quick View</a>
              </div>
              <div class="new-collections-grid1-right">
                <div class="rating">
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive" />
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive" />
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive" />
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/1.png" alt=" " class="img-responsive" />
                  </div>
                  <div class="rating-left">
                    <img src="assetsimages/1.png" alt=" " class="img-responsive" />
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </div>
            <h4><a href="single.html">{{val['title']}}</a></h4>
            <p>Vel illum qui dolorem eum fugiat.</p>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
              <p style="text-align: center;"><i>${{val['price']}}</i> <span class="item_price">$250</span><br/><a class="item_add_12" href="" data-id="{{key}}" ng-click="addtocart($event)">add to cart </a></p>
            </div>
          </div>      
        </div>

        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //collections -->
<!-- new-timer -->
  <div class="timer">
    <div class="container">
      <div class="timer-grids">
        <div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <h3><a href="" ui-sref="public.site.product.show({id: special_book['id']})">{{special_book['title']}}</a></h3>
          <div class="rating">
            <div class="rating-left">
              <img src="assets/images/2.png" alt=" " class="img-responsive" />
            </div>
            <div class="rating-left">
              <img src="assets/images/2.png" alt=" " class="img-responsive" />
            </div>
            <div class="rating-left">
              <img src="assets/images/2.png" alt=" " class="img-responsive" />
            </div>
            <div class="rating-left">
              <img src="assets/images/2.png" alt=" " class="img-responsive" />
            </div>
            <div class="rating-left">
              <img src="assets/images/1.png" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
            <p><i>$580</i> <span class="item_price">{{special_book['price']}}</span></p>
            <h4>{{special_book['description']}}</h4>
            <p><a class="item_add_2 timer_add_12" href="" data-id="{{special_book['id']}}" ng-click="addtocart($event)">add to cart </a></p>
          </div>
          <div id="counter"> </div>
          <script src="assets/js/jquery.countdown.js"></script>
          <script src="assets/js/script.js"></script>
        </div>
        <div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <div class="timer-grid-right1">
            <img data-ng-src="data:image/png;base64,{{ special_book['images']}}" alt=" " class="img-responsive" />
            <div class="timer-grid-right-pos">
              <h4>Special Offer</h4>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //new-timer -->
<!-- collections-bottom -->
  <div class="collections-bottom">
    <div class="container">
      <div class="collections-bottom-grids">
        <div class="collections-bottom-grid animated wow slideInLeft" data-wow-delay=".5s">
          <h3>45% Offer For <span>Women & Children's</span></h3>
        </div>
      </div>
      <div class="newsletter animated wow slideInUp" data-wow-delay=".5s">
        <h3>Newsletter</h3>
        <p>Join us now to get all news and special offers.</p>
        <form>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <input type="email" value="Enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email address';}" required="">
          <input type="submit" value="Join Us" >
        </form>
      </div>
    </div>
  </div>
<!-- //collections-bottom -->