<div class="col-md-8 products-right">
        <div class="products-right-grid">
 
   
        </div>
         <uib-pagination total-items="totalItem" ng-model="currentPage" num-pages="4" items-per-page="itemsPerPage" ></uib-pagination>
           <p>
        <div class="products-right-grids-bottom" >

            <div class="col-md-4 products-right-grids-bottom-grid" ng-repeat="(key,val) in listbook | paginate: (currentPage -1)*itemsPerPage "  ng-if ="$index < itemsPerPage">
            <!-- add wow class to get animate load page when scroll -->
            <div class="new-collections-grid1 products-right-grid1 animated slideInUp" data-wow-delay=".5s">
              <div class="new-collections-grid1-image">
                <a ui-sref="public.site.product.details" class="product-image"><img data-ng-src="data:image/png;base64,{{val['images']}}" alt=" " class="img-responsive"></a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                  <a ui-sref="public.site.product.show({id: key})">Quick View</a>
                </div>
                <div class="new-collections-grid1-right products-right-grids-pos-right">
                  <div class="rating">
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/2.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/1.png" alt=" " class="img-responsive">
                    </div>
                    <div class="rating-left">
                      <img src="assets/images/1.png" alt=" " class="img-responsive">
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <h4><a>{{val['title']}}</a></h4>
              <p>Vel illum qui dolorem.</p>
              <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                <p><i>{{val['price']}}</i> <span class="item_price">{{val['price']}}</span><a class="item_add_s" href="" data-id="{{key}}" ng-click="addtocart($event)">add to cart </a></p>
              </div>
            </div>
            </div>



          <div class="clearfix"> </div>
        </div>
        <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
         <!--  <ul class="pagination paging">
          <li>
            <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          </ul> -->
          <uib-pagination total-items="totalItem" ng-model="currentPage" num-pages="4" items-per-page="itemsPerPage"></uib-pagination>
           <p>
         Total items: {{totalItem}}<br />
         Items per page: {{itemsPerPage}}<br />
         Current Page: {{currentPage}}
      </p>
        </nav>
      </div>

      <script src="assets/js/masonry.pkgd.min.js"></script>

     <!--  <script type="text/javascript">
        $('#masonry').masonry({
          // options...
          itemSelector: '.products-right-grids-bottom-grid',
          columnWidth: 100
        });
      </script> -->