<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
  <!-- // breadcrums -->
  <!-- checkout -->
  <!-- mail -->
	<div class="mail animated wow zoomIn" data-wow-delay=".5s">
		<div class="container">
			<h3>Confirm Order</h3>
			<p class="est"> Please fill your information that we can ship for you in short time
				</p>
			<div class="mail-grids">
				<div class="col-md-8 mail-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<form>
						<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}" required="">

						<input type="submit" value="Submit Now" >
					</form>
				</div>
				<div class="checkout-left"> 
        <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
          <h4><a href="" ui-sref="public.site.order">Your Order</a> </h4>
          <ul>
             <li ng-repeat='item in arrayCart'>{{item.title}} <i>-</i> <span>{{item.price}}</span></li>
            <li>Total Service Charges <i></i> <span>$15.00</span></li>
            <li>Total <i>-</i> <span>$854.00</span></li>
          </ul>
        </div>
        <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
          <a href="" ui-sref='public.site.product.list'> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
        </div>
        <div class="clearfix"> </div>
      </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<iframe class="animated wow slideInLeft" data-wow-delay=".5s" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3098.7638135888296!2d-77.47669308468912!3d39.04350424592369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b63eb3bc8da92b%3A0x78c8e09ab1cabc90!2sShopping+Plaza%2C+Ashburn%2C+VA+20147%2C+USA!5e0!3m2!1sen!2sin!4v1457602090579" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
<!-- //mail -->
<!-- //checkout -->