<!-- //animation-effect -->
<!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
  <!-- // breadcrums -->
  <div class="products">
    <div class="container">
      <div class="col-md-4 products-left">
    <!-- filter cancel -->
        <div class="categories animated wow slideInUp" data-wow-delay=".5s">
          <h3>Categories</h3>
          <ul class="cate">
            <li ng-repeat="(key, val) in catelist"><a href="" ui-sref="public.site.product.category({id : key})" >{{val['title']}}</a> <span> ({{val['count'] || 0}})</span></li>
          </ul>
        </div>
        <div class="new-products animated wow slideInUp" data-wow-delay=".5s">
          <h3>New Products</h3>
          <div class="new-products-grids"  ng-repeat="(key,val) in newproduct">
            <div class="new-products-grid">
              <div class="new-products-grid-left">
                <a href="" ui-sref="public.site.product.show({id: key})"><img data-ng-src="data:image/png;base64,{{val['images']}}" alt=" " class="img-responsive" /></a>
              </div>
              <div class="new-products-grid-right">
                <h4><a href=""  ui-sref="public.site.product.show({id: key})">{{val['title']}}</a></h4>
                <div class="rating">
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive">
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive">
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/2.png" alt=" " class="img-responsive">
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/1.png" alt=" " class="img-responsive">
                  </div>
                  <div class="rating-left">
                    <img src="assets/images/1.png" alt=" " class="img-responsive">
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="simpleCart_shelfItem new-products-grid-right-add-cart">
                  <p> <span class="item_price">${{val['price']}}</span><a class="item_add" href=""  data-id="{{key}}" ng-click="addtocart($event)">add to cart </a></p>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
          <a href="single.html"><img src="assets/images/27.jpg" alt=" " class="img-responsive" /></a>
          <div class="men-position-pos">
            <h4>Summer collection</h4>
            <h5><span>55%</span> Flat Discount</h5>
          </div>
        </div>
      </div>
      <div ui-view ></div>
    </div>
  </div>