
<!-- header -->
  <div class="header">
    <div class="container">
      <div class="header-grid">
        <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <ul>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">doa9595@gmail</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>01653212274</li>
            <li ng-if="!auth.isAuthenticated"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="" ng-click="auth.signin()">Login/Register</a></li>
            <li ng-if="auth.isAuthenticated"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <ul class="social-icons">
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="g"></a></li>
            <li><a href="#" class="instagram"></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="logo-nav">
        <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
          <h1><a href="" ui-sref='public.site.home'>Book Store <span>Shop anywhere</span></a></h1>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> 
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav">
              <li class="active"><a href="" ui-sref='public.site.home' class="act">Home</a></li> 
              <!-- Mega Menu -->
              <li class="dropdown">
                <a href="" ui-sref='public.site.product.list' class="dropdown-toggle" data-toggle="dropdown">BOOKS <b class="caret"></b></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Categories</h6>
                        <li><a ui-sref="public.site.product.list">Clothing</a></li>
                        <li><a ui-sref="public.site.product.list">Wallets</a></li>
                        <li><a ui-sref="public.site.product">Shoes</a></li>
                        <li><a href="products.html">Watches</a></li>
                        <li><a href="products.html">Accessories</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Top Books</h6>
                        <li><a href="products.html">Clothing</a></li>
                        <li><a href="products.html">Wallets,Bags</a></li>
                        <li><a href="products.html">Footwear</a></li>
                        <li><a href="products.html">Watches</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Jewellery</a></li>
                        <li><a href="products.html">Beauty & Grooming</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Series Books</h6>
                        <li><a href="products.html">Kids Home Fashion</a></li>
                        <li><a href="products.html">Boy's Clothing</a></li>
                        <li><a href="products.html">Girl's Clothing</a></li>
                        <li><a href="products.html">Shoes</a></li>
                        <li><a href="products.html">Brand Stores</a></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Furniture <b class="caret"></b></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Home Collection</h6>
                        <li><a href="furniture.html">Cookware</a></li>
                        <li><a href="furniture.html">Sofas</a></li>
                        <li><a href="furniture.html">Dining Tables</a></li>
                        <li><a href="furniture.html">Shoe Racks</a></li>
                        <li><a href="furniture.html">Home Decor</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Office Collection</h6>
                        <li><a href="furniture.html">Carpets</a></li>
                        <li><a href="furniture.html">Tables</a></li>
                        <li><a href="furniture.html">Sofas</a></li>
                        <li><a href="furniture.html">Shoe Racks</a></li>
                        <li><a href="furniture.html">Sockets</a></li>
                        <li><a href="furniture.html">Electrical Machines</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6>Decorations</h6>
                        <li><a href="furniture.html">Toys</a></li>
                        <li><a href="furniture.html">Wall Clock</a></li>
                        <li><a href="furniture.html">Lighting</a></li>
                        <li><a href="furniture.html">Top Brands</a></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <li><a ui-sref="public.site.home">BLog</a></li>
              <li><a  ui-sref="public.site.home" >Contact</a></li>
            </ul>
          </div>
          </nav>
        </div>
        <div class="logo-nav-right">
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
            <!-- search-scripts -->
            <script src="assets/js/classie.js"></script>
            <script src="assets/js/uisearch.js"></script>
              <script>
                new UISearch( document.getElementById( 'sb-search' ) );
              </script>
            <!-- //search-scripts -->
        </div>
        <div class="header-right">
          <div class="cart box_1">
            <a href="" ui-sref="public.site.cart">
              <h3> <div class="total">
                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity_1" class="simpleCart_quantity">{{countCart || 0}}</span> items)</div>
                <img src="assets/images/bag.png" alt="" />
              </h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty" ng-click='service.removeCartAll()'>Empty Cart</a></p>
            <div class="clearfix"> </div>
          </div>  
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //header -->
<div ui-view >
  
</div>

<!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
          <h3>About Us</h3>
          <p>We are web developer team. We always bring best service for customer.Contact us for more information and how to make website like this</span></p>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
          <h3>Contact Info</h3>
          <ul>
            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>District 8, <span>Ho Chi Minh City.</span></li>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">doa9595@gmail.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>01653212274</li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
          <h3>Admin</h3>
          <div class="footer-grid-left" id="link-admin">

            <h4 ng-if="!auth.isAuthenticated"><a href="" ng-click="auth.signin()">Login</a></h4>
            <h4 ng-if="auth.isAuthenticated"><a href="" ui-sref="private.admin" >Dashboard</a></h4>

          </div>
         
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
          <h3>Blog Posts</h3>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href=""><img src="assets/images/9.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="">How to buy choose right book</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="footer-grid-sub-grids">
            <div class="footer-grid-sub-grid-left">
              <a href=""><img src="assets/images/10.jpg" alt=" " class="img-responsive" /></a>
            </div>
            <div class="footer-grid-sub-grid-right">
              <h4><a href="">Top book for bussiness</a></h4>
              <p>Posted On 25/3/2016</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
        <h2><a href="">Book Store <span>shop anywhere</span></a></h2>
      </div>
      <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
        <p>&copy 2016 Book Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
      </div>
    </div>
  </div>
<!-- //footer -->